@font-face {
    font-family: earwig_factory;
    src: url(earwig_factory/earwig\ factory\ rg.ttf);
}
html {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: earwig_factory;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./media/backgrounds/city_day.jpg');
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#weather-images img {
    display: none;
}
#date-images img {
    display: none;
}
.display-override-day {
    display: block !important;
    position: absolute;
    top: 25px;
    left:105px;
    width: 192px;
    height: 189px;
}
.display-override-tod {
    display: block !important;
    position: absolute;
    top: 250px;
    left:0px;
    width: 184px;
    height: 122px;
}
.display-override-dow {
    display: block !important;
    position: absolute;
    top: 125px;
    left:100px;
    width: 231px;
    height: 140px;
}
.display-override-month {
    display: block !important;
    position: absolute;
    top: 50px;
    left: 20px;
    width: 130px;
    height: 130px;
    z-index: 0;
}
.display-override-weather {
    display: block !important;
    position: absolute;
    top:0;
    left: 270px;
    width: 187.5px;
    height: 187.5px;

}
.display-override-weather:hover{
    filter: invert(100%);
}
#clock {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 75px;
    color: crimson;
}
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#timeTypes input{
    position: relative;
    margin-left: 25px;
}
#timeTypes {
    position: relative;
}
label {
    color: white;
}
#link-box{
    display: block;
    position: absolute;
    background-image: url('./media/Assembled\ Assets/Assembled\ Assets/background.png');
    background-size: cover;
    transform: skew(5deg);
    width: 430px;
    height: 243px;
    bottom: 10px;
    right: 10px;
    border: 7px solid red;
    color: white;
    font-size: 30px;
}
#link-box h2 {
    display: inline;
}
#link-box img {
    width: 25px;
    height: auto;
    display: inline-block;
}
#link-holder {
    overflow: hidden;
    
    height: 200px;
}
#link-holder:hover {
    overflow-y: scroll;
}
#link-holder figure{
    display: inline-block;
    font-size: 10px;
    width: 30px;
    height: auto;
    flex-direction: row;
    
}
#link-holder figcaption {
    text-align: center;
}

